
html {
 	position: relative; /* Sticky footer styles */
  	min-height: 100%;/* Sticky footer styles */
  	overflow-y:scroll;
}
body {
  	margin-bottom: 60px; /* Margin bottom by footer height */ /* Sticky footer styles */
}
.footer {
	position: absolute;
  	bottom: 0;
	width: 100%;
	height: 30px; /* Set the fixed height of the footer here */
	line-height: 30px; /* Vertically center the text there */
	background-color: #343a40;
	text-align: center;
}

.big-checkbox {
	width: 20px; 
	height: 20px;
}